<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chattr - Chat</title>
</head>
<body>
    <h2>#{{ channel.name }}</h2>
    <textarea id="chat-messages" cols="60" rows="30" readonly></textarea>
    <br>
    <p>Name</p>
    <input id="chat-username" type="text" size="60" value="undefined">
    <br>
    <p>Message</p>
    <input id="chat-message" type="text" size="60">

    <script>
        const username = `chatter${Math.floor(Math.random() * 1000)}`;
        document.querySelector('#chat-username').value = username;
        const webSocket = new WebSocket(`ws://${window.location.host}${window.location.pathname.replace('chat', 'ws')}`);

        webSocket.onopen = (e) => {
            webSocket.send(JSON.stringify({
                'username': username,
                'message': 'Hello! I just joined the chat!'
            }));
        };

        webSocket.onclose = (e) => {
            document.querySelector('#chat-username').disabled = true;
            document.querySelector('#chat-message').disabled = true;
        };

        webSocket.onmessage = (e) => {
            const d = JSON.parse(e.data);
            const messageTextArea = document.querySelector('#chat-messages')
            messageTextArea.value += (`${d.timestamp} ${d.username}: ${d.message}` + '\n');
            messageTextArea.scrollTop = messageTextArea.scrollHeight;
        };

        document.querySelector('#chat-message').onkeyup = (e) => {
            if (e.keyCode === 13) {
                send();
            }
        };

        function send() {
            const username = document.querySelector('#chat-username').value;
            const message = document.querySelector('#chat-message').value;

            webSocket.send(JSON.stringify({
                'username': username,
                'message': message
            }));

            document.querySelector('#chat-message').value = '';
        }
    </script>
</body>
</html>
